<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Trending Topics</title>
    <script>
        async function fetchData() {
            
            const response = await fetch('/load_records');
            const data = await response.json();
            //alert(data);
            // Display the data
            document.getElementById('results').innerText = JSON.stringify(data, null, 2);
            
            
        }

        async function runScript() {
            const response = await fetch('/run_script');
            const data = await response.json();
            document.getElementById('results').innerText = JSON.stringify(data, null, 2);
        }

        // Fetch existing records when the page is loaded
        window.onload = fetchData;
    </script>
</head>
<body>
    <h1>Twitter Trending Topics</h1>
    <button onclick="runScript()">Click here to run the script again</button>
    <pre id="results"></pre>
</body>
</html>
